{% extends "admin_app/base.html" %}
{% load static %}
{% block content %}


   <!-- Navbar -->
  {% include 'admin_app/nav.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {% include 'admin_app/sidebar.html' %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="background-color: #28384c;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>All Investments</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">All Investment</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">All Investors</h3>
              </div>

            <!-- Profile Image -->
            
              <div class="card-body box-profile" style="background-color: #0e1326">
                

                <h3 style="color: #0e1326" class="profile-username text-center"> <p style="color: #fff; ">Name: {{ investor.full_name }}</p></h3>

                <p style="background-color: #0e1326; font-size: 13px" class="text-muted text-center">{{ investor.public_key }}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Date of Birth</b> <a class="float-right">{{ investor.dob }}</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>House Address:</b> <a class="float-right">{{ investor.house_address }}</a>
                  </li>

                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>State of origin:</b> <a class="float-right">{{ investor.state_of_origin }}</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Country:</b>  <a class="float-right">{{ investor.country }}</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>phone Number:</b> <a class="float-right">{{ investor.phone_no }}</a>
                  </li>

                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Bank Name:</b> <a class="float-right"> {{ investor.bank_name }}</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Bank Verification Number:</b>  <a class="float-right">{{ investor.bank_verification_number }}</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Bank Account Number:</b> <a class="float-right">{{ investor.bank_account_number }}</a>
                  </li>

                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Payment Wallet Address:</b>  <a class="float-right">{{ investor.payment_wallet_address }} </a>
                  </li>

                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Bank Account Number:</b> <a class="float-right">{{ investor.bank_account_number }}</a>
                  </li>

                  <p><b>Status:</b> {{ investor.status }}</p><br />

                  <form method="post">
                {% csrf_token %}
                <div class="row">
                  <select class="form-control" name="status" id="cars">
                    {% if investor.status == True %}
                    <option value="activate" selected>Activate</option>
                    <option value="deactivate">Deactivate</option>
                    {% else %}
                    <option value="activate">Activate</option>
                    <option value="deactivate" selected>Deactivate</option>
                    {% endif %}
                  </select>
                </div>
                <br>

                <div class="row">
                  <button class="btn btn-warning btn-block" type="submit">Submit</button>
                      
                </div>
                
              </form>
                </ul>

               <!-- /.card -->

                    
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <br><br><br>


    <!-- Main Footer -->
  <footer class="main-footer" style="background-color: #2d3653">
    <strong>Copyright &copy; 2014-2021 <a href="https://admin_applte.io">admin_appLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.1.0
    </div>
  </footer>
</div>
<!-- ./wrapper -->



{% endblock %}