{% extends "app_user/base.html" %}
{% load static %}
{% block content %}


   <!-- Navbar -->
  {% include 'app_user/nav.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {% include 'app_user/sidebar.html' %}
<!-- Content Wrapper. Contains page content -->

<style type="text/css">


  </style>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-yellow card-outline">
              <div class="card-body box-profile" style="background-color: #0e1326">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{{ app_user.profile_photo.url }}"
                       alt="User profile picture">
                </div>

                <h3 style="color: #0e1326" class="profile-username text-center">{{ app_user.full_name }}</h3>

                <p style="background-color: #0e1326" class="text-muted text-center">{{ app_user.public_key }}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Profile Complete:</b> <a class="float-right">Yes</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>My Investments</b> <a class="float-right">543</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Total Investors</b> <a class="float-right">{{ app_user.bank_verification_number }}</a>
                  </li>
                </ul>

                <a href="#" class="btn btn-warning btn-block"><b>Change Photo</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Details</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="background-color: #0e1326">
                <strong><i class="fas fa-book mr-1"></i> Phone Number</strong>

                <p class="text-muted">
                 {{ app_user.phone_no }}
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> House Address</strong>

                <p class="text-muted">{{ app_user.house_address }}</p>

                <hr>

                <strong><i class="fas fa-map mr-1"></i> State of origin</strong>

                <p class="text-muted">
                  {{ app_user.state_of_origin }}
                </p>

                <hr>

                <strong><i class="fa fa-globe mr-1"></i> Country</strong>

                <p class="text-muted">
                  {{ app_user.country }}
                </p>

                <hr>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <!-- general form elements -->
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Update Profile</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="post">
                {% csrf_token %}
                <fieldset disabled>
                <div class="card-body" style="background-color: #0e1326">
                  <div class="form-group">
                    <label for="inputWarning">Full Name</label>
                    <input name="full_name" type="text" class="form-control is-warning" id="inputWarning" placeholder="Enter your full name" value="{{ app_user.full_name }}">
                  </div>

                  <div class="form-group">
                  <label>Date of Birth:</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                        <input name="dob" type="text" class="form-control datetimepicker-input" data-target="#reservationdate"/ value="{{ app_user.dob }}">
                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                  </div>

                  <div class="form-group">
                      <label>House Address</label>
                    <textarea name="house_address" class="form-control" rows="3" placeholder="Enter your house address...">{{ app_user.house_address }}</textarea>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Phone Number</label>
                    <input name="phone_no" type="text" class="form-control" id="exampleInputPassword1" value="{{ app_user.phone_no }}" placeholder="Enter your mobile phone number...">
                  </div>

                  <!--
                  <div class="form-group">
                    <label for="exampleInputPassword1">Place of Work</label>
                    <input name="place_of_work" type="text" class="form-control" value="{{ app_user.place_of_work }}" id="exampleInputPassword1" placeholder="Enter where you work..">
                  </div>


                  <div class="form-group">
                      <label>Place of Work Address</label>
                    <textarea name="place_of_work_address" class="form-control" value="{{ app_user.place_of_work_address }}" rows="3" placeholder="Enter your place of work address..."></textarea>
                  </div>

                  ---->
                  
                <div class="row">

                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                      <label for="exampleInputFile">Upload ID Card Photo</label>
                      <div class="input-group">
                        <div class="custom-file">
                          <input name="id_image" type="file" class="form-control upload-box btn btn-primary" >
                          <label style="display: none">Choose file</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                    <!-- <label for="customFile">Custom File</label> -->

                    
                  </div>

                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">ID Card Number</label>
                        <input name="id_number" value="{{ app_user.id_number }}" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter ID Card Number...">
                      </div>
                    </div>
                    
                  </div>


                  <div class="row">

                    <div class="col-lg-4 col-md-4">
                      <div class="form-group">
                        <label for="exampleInputPassword1">State of Origin</label>
                        <input value="{{ app_user.state_of_origin }}" name="state_of_origin" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your state of origin..">
                      </div>

                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Country</label>
                        <input value="{{ app_user.country }}" name="country" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Country...">
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Language</label>
                        <input value="{{ app_user.language }}" name="language" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your Language...">
                      </div>
                    </div>
                    
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Bank Name</label>
                    <input value="{{ app_user.bank_name }}" name="bank_name" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter the name of your bank..">
                  </div>
                  
                  <div class="row">

                    <div class="col-lg-4 col-md-4">
                      <div class="form-group">
                      <label for="exampleInputPassword1">Account Name</label>
                      <input value="{{ app_user.bank_account_name }}" name="bank_account_name" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your bank name...">
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="form-group">
                      <label for="exampleInputPassword1">Account Number</label>
                      <input value="{{ app_user.bank_account_number }}" name="bank_account_number" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your bank account number...">
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                      <div class="form-group">
                      <label for="exampleInputPassword1">BVN</label>
                      <input value="{{ app_user.bank_verification_number }}" name="bank_verification_number" type="text" class="form-control" id="exampleInputPassword1" placeholder="Input bank verification number">
                      </div>
                    </div>


                  </div>
                  

                  
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">I consent that i understand that my personal details are stored on the platform.</label>
                  </div>
                </div>
                <!-- /.card-body -->
              </fieldset>
              </form>
            </div>
            <!-- /.card -->

                    
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main Footer -->
  <footer class="main-footer" style="background-color: #2d3653">
    <strong>Copyright &copy; 2021 <a href="https://Oppenhiem.io">Oppenhiem.io</a>.</strong>
   
   
  </footer>
</div>
<!-- ./wrapper -->



{% endblock %}