{% extends "admin_app/base.html" %}
{% load static %}
{% block content %}


   <!-- Navbar -->
  {% include 'admin_app/nav.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {% include 'admin_app/sidebar.html' %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="background-color: #28384c;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ investor }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Withdraw</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">All Investors</h3>
              </div>

            <!-- Profile Image -->
            
              <div class="card-body box-profile" style="background-color: #0e1326">
                

                <h3 style="color: #0e1326" class="profile-username text-center"> <p style="color: #fff; ">Name: {{ investor.full_name }}</p></h3>

                <p style="background-color: #0e1326; font-size: 13px" class="text-muted text-center">{{ investor.public_key }}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Investor: </b> <a class="float-right">{{ withdraw.app_user.full_name }}</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Amount: </b> <a class="float-right">{{ withdraw.amount }}</a>
                  </li>

                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Harvest: {{ withdraw.harvest_amount }}</b> <a class="float-right">{{ withdraw.harvest_amount }}</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Wallet Address: </b>  <a class="float-right">{{ withdraw.app_user.public_key }}</a>
                  </li>
                  

                  <form method="post">
                {% csrf_token %}
                <div class="row">
                  <select class="form-control" name="status" id="cars">
                     {% if withdraw.ha_payment_status == True %}
                    <option value="activate" selected>Activate</option>
                    <option value="deactivate">Deactivate</option>
                    {% else %}
                    <option value="activate">Activate</option>
                    <option value="deactivate" selected>Deactivate</option>
                    {% endif %}
                  </select>
                </div>
                <br>

                <div class="row">
                  <button class="btn btn-warning btn-block" type="submit">Submit</button>
                      
                </div>
                
              </form>
                </ul>

               <!-- /.card -->

                    
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <br><br><br>

   



    <!-- Main Footer -->
  <footer class="main-footer" style="background-color: #2d3653">
    <strong>Copyright &copy; 2021 <a href="https://Oppenhiem.io">Oppenhiem.io</a>.</strong>
   
   
  </footer>
</div>
<!-- ./wrapper -->



{% endblock %}