{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<body>
    <style type="text/css">
        button.ps-btn{
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 10px;
            box-shadow: 2px 2px 5px #8b511f;
            background-color:#8b511f ;
            color: #161f31 !important;
        }

        button.ps-btn:hover{
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 10px;
            box-shadow: 2px 2px 5px #f5bd02;
            background-color: #f5bd02;
            color: #161f31;
        }
    </style>
     <div class="ps-block--promotion-header bg--cover" data-background="img/promotions/header-promotion.jpg">
        <div class="container">
             <marquee loop="20"><h3 style="color: #2d3653"> WELCOME TO ONPOINTCURRENCY<span> Your number one platform to financial freedom</span></h3></marquee>

        </div>
    </div>
    <header class="header header--1" data-sticky="true" style="background-color: #2d3653 !important">
        <div class="header__top"  style="background-color: #2d3653;color: #f5bd02;">
            <div class="ps-container">
                <div class="header__left">
                    <div class="menu--product-categories">
                        <div class="menu__toggle"><i class="icon-menu"></i><span> Shop by Department</span></div>
                        <div class="menu__content">
                            <
                        </div>
                    </div><a class="ps-logo" href="index.html"><h3>Logo</h3></a>
                </div>
                <div class="header__center">
                    
                </div>
                <div class="header__right">
                    <div class="header__actions"><a class="header__extra" href="app_user/"><h5 style="margin-top: 12px; color: #f5bd02">Home</h5></a><a class="header__extra" href="#"><h5 style="margin-top: 12px; color: #f5bd02; color: #f5bd02; color: #f5bd02">About</h5></a>
                        <div class="ps-cart--mini"><a class="header__extra" href="#"><h5 style="margin-top: 12px; color: #f5bd02">Contact</h5></a>
                            
                        </div>
                        <div class="ps-block--user-header">
                            
                            <div class="ps-block__right"><a href="{% url 'app_user:sign_up' %}" style="font-size: 14px; background-color: #bba14f; color: #000; padding-top: 10px; padding-bottom: 10px;" class="ps-btn">Signup</a></div>
                        </div>

                        <div class="ps-block--user-header">
                            
                            <div class="ps-block__right"><a href="{% url 'app_user:sign_in' %}" style="font-size: 14px; background-color: #bba14f; color: #000; padding-top: 10px; padding-bottom: 10px;" class="ps-btn">Login</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <header class="header header--mobile" data-sticky="true">
        <div class="header__top">
            
            <div>
                <marquee> Welcome to Onpointcurrency blockchain based Investment Platform !</marquee>
            </div>
        </div>
        <div class="ps-search--mobile" style="background-color: #2d3653">
            <marquee style="color: #f5bd02">WELCOME TO ONPOINTCURRENCY<span> Your number one platform to financial freedom</span></marquee>
        </div>
        <div class="navigation--mobile" style="background-color: #2d3653">
            <div class="navigation__left"><a class="ps-logo" href="index.html"><h5  style="color: #f5bd02">OnpointxCurrency</h5></a></div>
            <div class="ps-block--user-header">
                <div class="ps-block__left"><i style="color: #f5bd02" class="icon-user"></i></div>
                <div class="ps-block__right"><a href="{% url 'app_user:sign_up' %}" style="color: #f5bd02">Sign up</a><a href="{% url 'app_user:sign_in' %}" style="color: #f5bd02">Sign In</a></div>
            </div>
        </div>
        
    </header>
    <nav class="navigation--mobile-product"><a class="ps-btn ps-btn--black" href="{% url 'app_user:sign_up' %}" style="background-color: #0e1326; color: #f5bd02">SingUp</a><a class="ps-btn" href="checkout.html" style="background-color: #8b511f; color: #0e1326">Contact</a><a style="padding-left: 10px; padding-right: 10px; background-color: #0e1326; color: #f5bd02" class="ps-btn" href="{% url 'app_user:sign_in' %}">SignIn</a></nav>
    <div class="ps-panel--sidebar" id="cart-mobile">
        
    </div>
    
    
    <div class="ps-panel--sidebar" id="search-sidebar">
        <div class="ps-panel__header">
            <form class="ps-form--search-mobile" action="index.html" method="get">
                <div class="form-group--nest">
                    <input class="form-control" type="text" placeholder="Search something...">
                    <button><i class="icon-magnifier"></i></button>
                </div>
            </form>
        </div>
        <div class="navigation__content"></div>
    </div>
    <style type="text/css">
        @keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}
    </style>
    
    <div class="ps-download-app" style="background-color: #bba14f; padding-bottom: 30px">
            <div class="ps-container" style="background-color: #bba14f">
                <div class="ps-block--download-app" style="background-color: #bba14f">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                                <div class="ps-block__thumbnail"><img style=" animation: float 3s linear infinite" src="{% static 'main/image/unnamed.png' %}" alt=""></div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                                <div class="ps-block__content">
                                    <h2 style="color: #0e1326; font-size: 900">Onpoint Currency!</h2>
                                     <h3 style="color: #0e1326; font-size: 900">Number 1 blockchain based peer to peer investment platform</h3>
                                    <p style="color: #0e1326">Onpoint Currency was created with a big idea: to revolutionize the outdated peer to peer system and build a decentralized and secure investment system for individuals and businesses.     </p>
                                    <form class="ps-form--download-app" action="do_action" method="post">
                                        <div class="form-group--nest">
                                            <input class="form-control" type="Email" placeholder="Email Address">
                                            <button class="ps-btn">Subscribe</button>
                                        </div>
                                    </form>
                                    <p class="download-link"><a href="#"><img src="{% static 'main/img/google-play.png' %}" alt=""></a><a href="#"><img src="{% static 'main/img/app-store.png' %}" alt=""></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="ps-site-features" style=" background: linear-gradient(to right,#2d3653, #f5bd02 );">
            <div class="container">
                <div class="ps-block--site-features ps-block--site-features-2">
                    <div class="ps-block__item">
                        <div class="ps-block__left"><i style="color: #fff" class="icon-rocket"></i></div>
                        <div class="ps-block__right">
                            <h4 style="color: #fff">Mouth Watery Interest</h4>
                            
                        </div>
                    </div>
                    <div class="ps-block__item">
                        <div class="ps-block__left"><i style="color: #fff" class="icon-sync"></i></div>
                        <div class="ps-block__right">
                            <h4 style="color: #fff">Easy Tracking</h4>
                            <p style="color: #fff">Keep tabs of you earnings</p>
                        </div>
                    </div>
                    <div class="ps-block__item">
                        <div class="ps-block__left"><i  style="color: #fff" class="icon-credit-card"></i></div>
                        <div class="ps-block__right">
                            <h4  style="color: #fff">Secure Payment</h4>
                            <p  style="color: #fff">100% secure payment</p>
                        </div>
                    </div>
                    <div class="ps-block__item">
                        <div class="ps-block__left"><i  style="color: #fff" class="icon-bubbles"></i></div>
                        <div class="ps-block__right">
                            <h4  style="color: #fff">24/7 Support</h4>
                            <p  style="color: #fff">Dedicated support</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ps-section--vendor ps-vendor-about" style="background-color: #0e1326; color: #8b511f">
            <div class="container">
                <div class="ps-section__header" >
                    <p style="color: #8b511f">WHY INVEST ON ONPOINTCURRENCY</p>
                    <h4 style="color: #8b511f">Join our platform where nearly 50 million investors around<br> the world earn and become financially independent</h4>
                </div>
                <div class="ps-section__content">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                            <div class="ps-block--icon-box-2">
                                <div class="ps-block__thumbnail"><img style="animation: float 3s linear infinite" src="{% static 'main/image/undraw_Bitcoin_P2P_re_1xqa.svg' %}" alt=""></div>
                                <div class="ps-block__content">
                                    <h4 style="color: #8b511f">Blockchain Based </h4>
                                    <div class="ps-block__desc" data-mh="about-desc">
                                        <p style="color: #fff">Onpoint Currency is a blockchain based platform owned by a Nigerian based Italian enthusiast known as Adrano Fonara and it is the first blockchain based P2P platform with a unique mission to help enrich people by creating a secure decentralized investment system</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                            <div class="ps-block--icon-box-2">
                                <div class="ps-block__thumbnail"><img  style="animation: float 3s linear infinite" src="{% static 'main/image/undraw_transfer_money_rywa.svg' %}" alt=""></div>
                                <div class="ps-block__content">
                                    <h4 style="color: #8b511f">Know Your Customer</h4>
                                    
                                    <div class="ps-block__desc" data-mh="about-desc">
                                        <p style="color: #fff">Building trust with your users starts with getting to know them better. A more complete understanding of your user base is only possible with the right identity and reputation tools.We implement painless, end-to-end Know Your Customer processes to ensure transparency and user trust.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                            <div class="ps-block--icon-box-2">
                                <div class="ps-block__thumbnail"><img style="animation: float 3s linear infinite" src="{% static 'main/image/about-man.png' %}" alt=""></div>
                                <div class="ps-block__content">
                                    <h4 style="color: #8b511f">Earn While you Sleep</h4>
                                    <div class="ps-block__desc" data-mh="about-desc">
                                        <p style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div><a href="#">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div style="height: 7.4rem;
                 background-image: linear-gradient(
                    180deg,
                    transparent,
                    rgba(45, 54, 83, 0.61),
                    #2d3653">

            </div>


        <div class="ps-section--vendor ps-vendor-milestone" style="background-color:#2d3653; color: #2d3653">
            <div class="container">
                <div class="ps-section__header">
                    <p style="color: #e7b332">How it works</p>
                    <h4 style="color: #fff">Onpoint Currency in 4 steps</h4>
                </div>
                <div class="ps-section__content">
                    <div class="ps-block--vendor-milestone">
                        <div class="ps-block__left">
                            <h4 style="color: #e7b332">Register on our Platform</h4>
                            <ul>
                                <li style="color: #fff">Register with a one time registration fee of 5$ in busd to our crypto account</li>
                                <li style="color: #fff">Submit proof of payment.</li>

                            </ul>
                        </div>
                        <div class="ps-block__right"><img src="{% static 'main/image/undraw_arrived_f58d.svg' %}" alt=""></div>
                        <div class="ps-block__number"><span>1</span></div>
                    </div>
                    <div class="ps-block--vendor-milestone reverse">
                        <div class="ps-block__left">
                            <h4 style="color: #e7b332">Commit in Crypto of Fiat</h4>
                            <ul>
                                <li style="color: #fff">Select your preferred package from our list of package</li>
                                <li style="color: #fff">wait for 24hrs to recieve a pair</li>
                                <li style="color: #fff">Make your payment.</li>
                                <li style="color: #fff">Provide proof of payment.</li>
                            </ul>
                        </div>
                        <div class="ps-block__right"><img src="{% static 'main/image/undraw_crypto_portfolio_2jy5.svg' %}" alt=""></div>
                        <div class="ps-block__number"><span>2</span></div>
                    </div>
                    <div class="ps-block--vendor-milestone">
                        <div class="ps-block__left">
                            <h4 style="color: #e7b332">Relax and get paid</h4>
                            <ul>
                                <li style="color: #fff">Now it's your turn to get paid and earn</li>
                                <li style="color: #fff">Sit back, relax & let your money work for you all day, everyday.</li>
                            </ul>
                        </div>
                        <div class="ps-block__right"><img src="{% static 'main/image/undraw_stepping_up_g6oo.svg' %}" alt=""></div>
                        <div class="ps-block__number"><span>3</span></div>
                    </div>
                    <div class="ps-block--vendor-milestone reverse">
                        <div class="ps-block__left">
                            <h4 style="color: #e7b332">Get your bonus</h4>
                            <ul>
                                <li style="color: #fff">Your gain is paid after a short period</li>
                                <li style="color: #fff">Note that your original capital will be recycled by the system and you will only be payed your percentage profit until four cycle where you most earned back your capital</li>
                            </ul>
                        </div>
                        <div class="ps-block__right"><img src="{% static 'main/img/vendor/milestone-4.png' %}" alt=""></div>
                        <div class="ps-block__number"><span>4</span></div>
                    </div>
                </div>

            </div>

        </div>
       

        <div class="ps-section--vendor ps-vendor-best-fees" style="background-color: #bba14f" >
            <div class="container">
                <div class="ps-section__header">
                    <p style="color: #161f31 !important">BEST FEES TO START</p>
                    <h4 style="color: #161f31">Affordable, transparent, and secure</h4>
                </div>
                <div class="ps-section__content">
                    <h5 style="color:#161f31">It doesn’t cost a thing to list up to 50 items a month, and you only pay after your stuff sells. It’s just a small percent of the money you earn</h5>
                    <div class="ps-section__numbers">
                        <figure>
                            <h3>$0</h3><span>List Fee</span>
                        </figure>
                        <figure>
                            <h3>$0</h3><span>List Fee</span>
                        </figure>
                        <figure>
                            <h3>5%</h3><span>Final Value Fee</span>
                        </figure>
                    </div>
                    <div class="ps-section__desc">
                        <figure>
                            <figcaption style="color: #161f31">Here's what you get after commiting:</figcaption>
                            <ul>
                                <li style="color: #161f31">25% of your capital every week</li>
                                <li style="color: #161f31">No drama no delay, fast payment, and everybody goes home smiling.</li>
                            </ul>
                        </figure>
                    </div>
                    <div class="ps-section__highlight"><img src="{% static 'main/img/icons/vendor-4.png' %}" alt="">
                        <figure>
                            <p>We’re serious about security and ensure your personal information is fully encrypted and securely stored. We guard all of your personal information with 256-bit encryption and other cutting-edge security technologies.</p>
                        </figure>
                    </div>
                    <div class="ps-section__footer">
                        <p>Trust is our currency. We are committed to the security of your money and the protection of your account. That is how we earn your trust.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-section--vendor ps-vendor-testimonials">
            <div class="container">
                <div class="ps-section__header">
                    <p>INVESTORS STORIES</p>
                    <h4>See investors stories about their experience with OnpointCurrency</h4>
                </div>
                <div class="ps-section__content">
                    <div class="ps-carousel--nav owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="true" data-owl-item="2" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="2" data-owl-duration="1000" data-owl-mousedrag="on">
                        <div class="ps-block--testimonial">
                            <div class="ps-block__header"><img src="{% static 'main/img/users/1.jpg' %}" alt=""></div>
                            <div class="ps-block__content"><i class="icon-quote-close"></i>
                                <h4 style="color: #f5bd02">Kanye West<span>Head Chef at BBQ Restaurant</span></h4>
                                <p>Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</p>
                            </div>
                        </div>
                        <div class="ps-block--testimonial">
                            <div class="ps-block__header"><img src="{% static 'main/img/users/2.png' %}" alt=""></div>
                            <div class="ps-block__content"><i class="icon-quote-close"></i>
                                <h4 style="color: #f5bd02">Anabella Kleva<span>Boss at TocoToco</span></h4>
                                <p>Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</p>
                            </div>
                        </div>
                        <div class="ps-block--testimonial">
                            <div class="ps-block__header"><img src="{% static 'main/img/users/3.jpg' %}" alt=""></div>
                            <div class="ps-block__content"><i class="icon-quote-close"></i>
                                <h4 style="color: #f5bd02">William Roles<span>Head Chef at BBQ Restaurant</span></h4>
                                <p>Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-section--vendor ps-vendor-faqs" style="background-color: #bba14f">
            <div class="container">
                <div class="ps-section__header">
                    <p style="color: #161f31">FREQUENTLY ASKED QUESTIONS</p>
                    <h4 style="color: #161f31 !important">Here are some Frequenty Asked Questions About OnpointCurrency</h4>
                </div>
                <div class="ps-section__content">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                            <figure>
                                <figcaption style="color: #161f31 !important">How do fees work on OnpointCurrency</figcaption>
                                <p style="color: #161f31 !important">Joining and starting a shop on Martfury is free. There are three basic selling fees: a listing fee, a transaction fee, and a payment processing fee.</p>
                                <p style="color: #161f31 !important">It costs USD 0.20 to publish a listing to the marketplace. A listing lasts for four months or until the item is sold. Once an item sells, there is a 3.5% transaction fee on the sale price (not including shipping costs). If you accept payments with PayPal, there is also a payment processing fee based on their fee structure.</p>
                                <p style="color: #161f31 !important">Listing fees are billed for $0.20 USD, so if your bank’s currency is not USD, the amount may differ based on changes in the exchange rate.</p>
                            </figure>
                            <figure>
                                <figcaption style="color: #161f31 !important">What do I need to do to be eigible?</figcaption>
                                <p style="color: #161f31 !important">It’s easy to set up a shop on Martfury. Create an Martfury account (if you don’t already have one), set your shop location and currency, choose a shop name, create a listing, set a payment method (how you want to be paid), and finally set a billing method (how you want to pay your Martfuryfees).</p>
                            </figure>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                            <figure>
                                <figcaption style="color: #161f31 !important">How do I get paid?</figcaption>
                                <p style="color: #161f31 !important">If you accept payments with PayPal, funds from PayPal sales on Martfury will be deposited into your PayPal account. We encourage sellers to use a PayPal Business account and not a Personal account, as personal accounts are subject to monthly receiving limits and cannot accept payments from buyers that are funded by a credit card.</p>
                                <p style="color: #161f31 !important">It costs USD 0.20 to publish a listing to the marketplace. A listing lasts for four months or until the item is sold. Once an item sells, there is a 3.5% transaction fee on the sale price (not including shipping costs). If you accept payments with PayPal, there is also a payment processing fee based on their fee structure.</p>
                                <p style="color: #161f31 !important">Listing fees are billed for $0.20 USD, so if your bank’s currency is not USD, the amount may differ based on changes in the exchange rate.</p>
                            </figure>
                            <figure>
                                <figcaption style="color: #161f31 !important">Do I need a credit or debit card ?</figcaption>
                                <p style="color: #161f31 !important">No, a credit or debit card is not required to create a shop. To be verified as a seller you have the choice to use either a credit card or to register via PayPal. You will not incur any charges until you open your shop and publish your listings.</p>
                            </figure>
                            
                        </div>
                    </div>
                </div>
                <div class="ps-section__footer">
                    <p>Still have more questions? Feel free to contact us.</p><a class="ps-btn" href="#">Contact Us</a>
                </div>
            </div>
        </div>
        <div style="background-color: #fff" class="ps-vendor-banner bg--cover" data-background="{% static 'main/image/bitcoin-1813503_1280.jpg' %}">
            
                <h2 style="color: #fff">It's time to start making money.</h2><a class="ps-btn ps-btn--lg" href="comming-soon.html">Get Started</a>
            </div>
        </div>
    </div>
    <div class="ps-newsletter">
        <div class="container">
            <form class="ps-form--newsletter" action="do_action" method="post">
                <div class="row">
                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-form__left">
                            <h3>Newsletter</h3>
                            <p>Subcribe to get information about products and coupons</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-form__right">
                            <div class="form-group--nest">
                                <input class="form-control" type="email" placeholder="Email address">
                                <button class="ps-btn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>

    <div class="ps-contact-form" style="background-color: #2d3653">
            <div class="container">
                <form class="ps-form--contact-us" action="index.html" method="get">
                    <h3 style="color: #D4af37">Get In Touch</h3>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                            <div class="form-group">
                                <input style="border-radius: 20px; box-shadow: 5px 5px 5px #8b511f;" class="form-control" type="text" placeholder="Name *">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                            <div class="form-group">
                                <input style="border-radius: 20px; box-shadow: 5px 5px 5px #8b511f;" class="form-control" type="text" placeholder="Email *">
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <div class="form-group">
                                <input style="border-radius: 20px; box-shadow: 5px 5px 5px #8b511f;" class="form-control" type="text" placeholder="Subject *">
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <div class="form-group">
                                <textarea style="border-radius: 20px; box-shadow: 5px 5px 5px #8b511f;" class="form-control" rows="5" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group submit">
                        <button st class="ps-btn">Send message</button>
                    </div>
                </form>
            </div>
        </div>
     
    {% include "main/footer.html" %}
    {% endblock %}