{% extends "app_user/base.html" %}
{% load static %}
{% block content %}


   <!-- Navbar -->
  {% include 'app_user/nav.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {% include 'app_user/sidebar.html' %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="background-color: #28384c;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Commit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Commit</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-warning" >
              <div class="card-header" >
                <h3 class="card-title">Commit New Investment</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->

              <br /><br>
              <div class="row container">    

                <div class="col-md-4" >
                  <!-- Profile Image -->
            <div class="card card-yellow card-outline" style="background-color: #f39c12;">
              <div class="card-body box-profile" style="background-color: #0e1326">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="http://superstaressentials.com/assets/images/bronzepackage.png"
                       alt="User profile picture">
                </div>
                <br />

                <ul class="list-group list-group-unbordered mb-3">
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>1.5% Return:</b> <a class="float-right">After 7days</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>2.5% Return:</b> <a class="float-right">After 3days</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Package Amount:</b> <a class="float-right">0.001BNB</a>
                  </li>
                </ul>

                <a href="{% url 'app_user:make_commit' '0.001' %}" class="btn btn-primary btn-block"><b>Commit</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

          <div class="col-md-4">

                  <!-- Profile Image -->
            <div class="card card-yellow card-outline">
              <div class="card-body box-profile" style="background-color: #0e1326">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="https://theislandnow.com/wp-content/uploads/2018/01/gold-package-e1517317572725.png"
                       alt="User profile picture">
                </div>
                <br />

               <ul class="list-group list-group-unbordered mb-3">
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>1.5% Return:</b> <a class="float-right">After 7days</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>2.5% Return:</b> <a class="float-right">After 3days</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Package Amount:</b> <a class="float-right">0.002BNB</a>
                  </li>
                </ul>

                <a href="{% url 'app_user:make_commit' '0.002' %}" class="btn btn-warning btn-block"><b>Commit</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-4">
            <!-- Main content -->
    

            <!-- Profile Image -->
            <div class="card card-yellow card-outline">
              <div class="card-body box-profile" style="background-color: #0e1326">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-Gb4ocZaKNbLLRjTFMM7CiEjmFnbmRuoqYI9TaKXptwGr92CPtQiLbOu008LIaipf_wQ&usqp=CAU"
                       alt="User profile picture">
                </div>
                <br />

               <ul class="list-group list-group-unbordered mb-3">
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>1.5% Return:</b> <a class="float-right">After 7days</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>2.5% Return:</b> <a class="float-right">After 3days</a>
                  </li>
                  <li style="background-color: #0e1326" class="list-group-item">
                    <b>Package Amount:</b> <a class="float-right">0.003BNB</a>
                  </li>
                </ul>

                <a href="{% url 'app_user:make_commit' '0.003' %}" class="btn btn-success btn-block"><b>Commit</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
                  
                </div>



              </div>






              
            </div>
            <!-- /.card -->

                    
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main Footer -->
  <footer class="main-footer" style="background-color: #2d3653">
    <strong>Copyright &copy; 2021 <a href="https://Oppenhiem.io">Oppenhiem.io</a>.</strong>
   
    
  </footer>
</div>
<!-- ./wrapper -->



{% endblock %}