{% extends "app_user/base.html" %}
{% load static %}
{% block content %}


   <!-- Navbar -->
  {% include 'app_user/nav.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {% include 'app_user/sidebar.html' %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>My Investments</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">My Investment</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Your Commits</h3>
              </div>
              <br />
              <div class="card-body">
                <p>Total Invesments: {{ counts }}</p>
                <p>Total Amount Invested: {{ total_amount }}BNB</p>
                <p>Total Remaining BNB : {{ bnb_balance }}BNB</p>
                <p>Total Remaining OPY: {{ bep_balance }}OPY</p>
              </div>
                
              <!-- /.card-header -->
              <!-- form start -->
              {% if investments %}
                      <div class="card-body table-responsive p-0" style="background-color: #0e1326;">
                        <table class="table table-hover text-nowrap">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Date</th>
                              <th>Package</th>
                              <th>Invested</th>
                              <th>Harvested</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            
                              {% for item in investments %}
                                <tr>
                                  <td>{{ item.id }}</td>
                                  <td>{{ item.pub_date }}</td>
                                  <td>
                                    {{ item.package_type }}
                                  </td>
                                  <td>BNB{{ item.amount }}
                                    <br /><small>({% if item.payment_status_k == False %}
                                      Not Verified
                                    {% else %}
                                      Verified
                                    {% endif %})</small>
                                  </td>
                                  <td>OPY{{ item.harvest_amount }}
                                    <br /><small>({% if item.ha_payment_status == False %}
                                      Not Paid
                                    {% else %}
                                      Paid
                                    {% endif %})</small>
                                  </td>
                                  <td>
                                    {% if item.payment_status_k %}
                                      <a href="{% url 'app_user:investment_detail' item.id %}">
                                      <small>{{ item.switch_date7 }}(1.5%)</small><br />
                                      <small>{{ item.switch_date30 }}(2.5%)</small>
                                      </a>
                                    {% endif %}

                                  </td>
                                </tr>
                              {% endfor %}
                            
                            
                          </tbody>
                        </table>
                      </div>
                      <div class="card-outline" style="background-color: #f39c12"><div></div> </div>
            <!-- /.card -->
                      {% else %}


                      <div class="row container">
                        
                        
                        <h2 class="container">Sorry, No Investments Yet!</h2>
                        <br /><br /><br />

                      </div>                

                      {% endif %}

                    </div>
                  </div>
                </div>
              </div>
            </section>

    <!-- Main Footer -->
  <footer class="main-footer" style="background-color: #2d3653">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.1.0
    </div>
  </footer>
</div>
<!-- ./wrapper -->



{% endblock %}